# Playful Pandas
`pandas` is a very popular and powerful Python module used by data scientists to perfom many tasks, and make their lives easier. In this lab you will be exploring and using the `pandas` library to be used in your unit project.

For any questions, edit the appropriate markdown block and answer between the ` ``` ``` ` using complete sentences. 

For any code blocks you are to include comments explaining your code to recieve full credit.

1. Go to the `pandas` documentation site [here](https://pandas.pydata.org/) to learn more about the library. In your own words describe what `pandas` is used for, and what features does it offer to data scientists?
```
Panda is a library specifically holding commands and code only meant for data
```

2. Using the terminal install the `pandas` library. What command did you use?
```sh
pip3 install pandas
```

In [7]:
# Importing pandas
import pandas as pd

3. `pandas` loads data into what is known as a dataframe (df for short). What function from the `pd` library is used to load data from a csv file?
```
pd.read_csv
```

Use this function in the code block below to load data from the file `titanic.csv` into a variable called `df`

In [8]:
df = pd.read_csv("titanic.csv")

Now that we have our data loaded into pandas we can try out our first function `df.head()`. Run the code block below.

In [9]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

4. Describe the output of the `df.head()` function, what could it be used for?
```
It returned a table which is useful for storing information and to keep track of it when needed 
```

5. What information is avaiable to perform data analytics
Very precise and descriptive information that contains people's name, what cabin they've stayed at, their ticket ID #, etc.

5. Using the pandas documentation find the function that will give us a list of all the columns present in the dataset. Then Use the function in the codeblock below this question
```

```

In [10]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

If we want to focus in on one column, we can do a similar operation that we will do with `dict`'s. 

Create a variable called `age`, then using square brackets set it equal to the dataframe's age column.

In [11]:
age = df['Age']

Now that we have a variable that is a specific column, we can use the `min`, `max` and `mean` functions with that variable. 

Run the codeblock below:

In [12]:
print("max() :", age.max())


print("min() :", age.min())


print("mean() :", age.mean())

max() : 80.0
min() : 0.42
mean() : 29.69911764705882

6. What are the outputs of the various functions? How would these functions be useful in data science?
```
The outputs of the functions are the minimum, maximum, and the mean value of each value in the age column. Those functions would be useful in data science because working with data science involves handling data so if given long lists, it can be used to return the value they need
```

7. Watch the following video about pandas `group_by` function. [Watch Here](https://www.youtube.com/watch?v=qy0fDqoMJx8). What is the purpose of the group by function? How can it be used in data science operations?
```
The purpose of the group by funciton is so that given a file, you don't have to see every specifc piece of information at once when you use the group by function. It can be used in data science operations by ex. finding out the sum of a certain rate. 
```

Using our already existing dataframe (`df`) use the goup by function to figure out what the average age of those who survived the Titanic sinking vs those who did not survive.

In [20]:
import matplotlib.pyplot as plt

x = ['Alive', 'Deceased']
y = df.groupby('Alive')['Age'].mean()

plt.bar(x,y)
plt.ylabel('Average')
plt.title("The Titanic?")

KeyError: 'Alive'